.body {
    margin: 0;
    padding: 0;
}

.hero-body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 250px;
    background-image: linear-gradient(to bottom, #82d4f2 , white);
}

.mainHeader {
    margin-left: 30px;
}

.signup {
    background-color: #82d4f2;
}

.navbar {
    margin-left: 10px;
}

.tiles {
    margin-left: 10px;
    margin-right: 10px;
}

.tile0 {
    max-height: 320px;
}

.tile1 {
    background-color: #43CAFE;
}

.tile3 {
    background-color: #82d4f2;
}

.tile4 {
    background-color: #04a1da;
}

.tile5 {
    background-color: #04a1da;
}

.field {
    display: flex;
}

.ingred-tile {
    display: block;
}

.control {
    width: 100%;
}

.ingredients {
    margin-top: 10px;
    padding: 2px 5px 10px 5px;
    width: 100%;
}

.content, .recipe-title {
    min-height: 125px;
}

.prefs {
    display: block;
    margin-left: 20px;
}

.card {
    margin-left: 20px;
}

.getRecipes {
    align-items: flex-end;
}

@media (max-width: 400px) {
    .tile0 {
        max-height: 360px;
    }

    .ingred-field {
        flex-wrap: wrap;
    }

    .card-image {
        display: none;
    }

    .article-btn {
        min-width: 100%;
        padding-top: 10px;
    }
}