form.signup,
form.login {
  margin-top: 50px;
}

.navbar navbar-default {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 250px;
    background-image: linear-gradient(to bottom, #58c4eb , white);
}

.body {
    background-image: linear-gradient(to top, #58c4eb , white);
}

.navbar  {
    background-image: linear-gradient(to bottom, #58c4eb , white);
}

.container {
    background-color:  #04a1da;
}

.navbar-header {
    background-image: linear-gradient(to bottom, #58c4eb , white);
}

.multicolortext {
    color: red;
}
